@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif !important;
}

:root {
	--text: #212125;
	--background: #fdfcfd;
	--primary: #ffac12;
	--secondary: #acacac;
	--accent: #fdb827;
}

/* Fundo e textos */
body {
	background-color: var(--background);
	color: var(--text);
}

.logo {
	height: 30px;
}

.nav__category {
	transition: all 0.2s ease-in-out;
}

.nav__category:hover,
.nav__category:active {
	color: var(--primary) !important;
}

.btn-transparent:hover,
.btn-transparent:active {
	color: var(--primary) !important;
}

.cart__badge {
	top: 10px !important;
	right: -15px !important;
}